html,
body {
  height: 100%;
  background: #F5F4EE;
}

body a {
  text-decoration: none;
  color: #383838;;
  font-family: 'Istok Web', sans-serif;
}
body nav, input, button {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background: #FFF;
}
.navbar {
    background: #FFF;
    border-bottom: 1px solid #383838;
    -moz-box-shadow:    0px 0px 3px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 3px 2px rgba(0,0,0,0.2);
}

.nav>li>a:hover, .nav>li>a:focus {
  color: #B01141;
  background: none;
}
.nav>li.active a {
  color: orangered;
}

.container {
    margin-bottom: 10px;
}

.icon-bar {
    background: #383838;
}

h1, a, div, p {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #383838;
}

.grid-recipes, .list-recipes {
    padding: 10px;
    min-height: 300px;
}
.grid-recipes > a, .list-recipes > a {
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    -moz-box-shadow:    0px 0px 3px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 3px 2px rgba(0,0,0,0.2);
}
.grid-recipes > a:hover, .list-recipes > a:hover {
    -moz-box-shadow:    0px 0px 3px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.5);
    box-shadow:         0px 0px 3px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}
.grid-recipes > a .preview-img {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    background-image: url("http://bit.ly/1gJuK0l");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-box-shadow:    inset 0px -10px 10px #383838;
    -webkit-box-shadow: inset 0px -10px 10px #383838;
    box-shadow:         inset 0px -10px 10px #383838;
}

.list-recipes > a .preview-img {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: url("http://bit.ly/1gJuK0l");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: 100%;
}

.grid-recipes a > div {
    height: 50%;
}

.list-recipes a > div.pull-right {
    width: 100%;
    position: absolute;
}
.grid-recipes a > div p {
    padding-top: 5px;
    color: #FFF;
    background: #383838;
    height: 25%;
}
.list-recipes a > div p {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 0;
    color: #FFF;
    background: #383838;
}
.recipe {
    text-align: justify;
    padding: 0;
    min-height: 600px;
}
.recipe .recipe-img {
    background-image: url("http://bit.ly/1gJuK0l");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 300px;
    margin-bottom: 20px;
}
.ingredients ul {
    padding: 5px;
    background: #FFCA6B;
    list-style: none;
}